<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link href="/files/css/estilo.css" rel="stylesheet" type="text/css" media="screen" />
    <title>{%block title%}{%endblock%}</title>
    <script type="text/javascript" src="/files/js/jquery-1.5.1.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    {%block extra_head%}{%endblock%}
        <script type="text/javascript">
            $(document).ready(function(){
                var ancho1 = $('#marco').width();
                var ancho2 = $('#sidebar').width();
                var ancho3 = ancho1 - ancho2;
                $('#cuerpo').width(ancho3-20);
            });
        </script>
  </head>
  <body>
    <div id ="marco">
        <div id="sidebar">
            <div id="logo">
                <div class="main-text">SISTEMA DE AUTOEVALUACION ORGANIZACIONAL</div>
            </div>

            <br></br><center></center>
            <br></br><center></center>
            <br></br><center></center><br></br>
            <br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br>
            <div id="enlacefooter"><center>Desarrollado por <a href="http:///www.simas.org.ni">SIMAS</a> bajo plataforma <a href="http://djangoprojecto.org">Django</a></center></div>
        </div>
        <div id="cuerpo">
            <div id="panel-front">
                <div class="margen">
                    <p>Sistema de información en linea para el monitoreo de fortalecimiento organizacional de las cooperativas basado en la propuesta de monitoreo desarrollado por SIMAS-CEDAPRODE y aprobado por ACICAFOC</p>
                </div>
            </div>
            {%block content%}
            {%endblock%}
        </div>
        <div class="separador"></div>
    </div>
  </body>
</html>
