<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link href="/files/css/estilo.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/files/css/nanoscroller.css" rel="stylesheet" type="text/css"/>
    <title>{%block title%}{%endblock%}</title>
    <script type="text/javascript" src="/files/js/jquery-1.5.1.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="/files/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="/files/js/jquery.nanoscroller.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(window).load(function(){
                var ancho1 = $(window).width();
                var ancho3 = ancho1 - 239;
                $('#cuerpo').width(ancho3-20);
            });
            $(function(){
              $(".nano").nanoScroller();
            })
        </script>

    {%block extra_head%}{%endblock%}

  </head>
  <body>
    <div id ="marco">
        <div id="sidebar">
            <div id="logo">
            <div class="main-text">SISTEMA DE AUTOEVALUACION ORGANIZACIONAL ACICAFOC</div>
            </div>
            <div id="menuside">
                    <a href="/"><img src="/files/imagen/home.png">   Inicio</a>
                    <a href="{% url user-logout %}"><img src="/files/imagen/logout.png">   Salir</a>
                </div>

            {%block sidebar%}
            <div id="user-info" style="padding:15px;">
                  <img src="/files/imagen/user.png" align="left"></img>
                  <div id="usuario">{{user.get_full_name}}</div>
                  <div id="mail">{{user.email}}</div>
                  <div class="separador"></div>
                  <div id="misorg">MIS ORGANIZACIONES</div>
                  </br>
                  {%if logueado%}
                  <div class="nano">
                    <div class="content">
                      {% for organizacion in orgs %}
                        <a href="#">{{organizacion.nombre}}</a>
                      {% endfor %}
                      </div>
                  </div>

                  <div class="separador"></div>
                  {%endif%}
            </div>
            {%endblock%}
            <hr style="background-color:#fff;color:#b8a2a2; border:0; height:1px;"></hr>
            <br><center></center>
            </br><center></center>
            <br></br><center></center><br></br>
            <br><br><br><br><br><br><br><br>
            <div id="enlacefooter"><center>Desarrollado por <a href="http:///www.simas.org.ni">SIMAS</a> bajo plataforma <a href="http://djangoprojecto.org">Django</a></center></div>
        </div>
        <div id="cuerpo">
            <div id="panel" style="height:72px !important;">
                   </br>
                   <a href="{% url organizaciones %}"><img class="izq" src="/files/imagen/organizaciones.png"></img></a>
                   <a href="{% url mis-encuestas %}"><img class="izq" style="margin-left:-8px;"src="/files/imagen/evaluaciones.png"></a>
                   <a href="{% url resultados %}"><img class="izq" style="margin-left:-8px;"src="/files/imagen/explorar.png"></img></a>
                   <a href="/ayuda"><img class="izq"style="margin-left:-8px;" src="/files/imagen/ayuda.png"></img></a>
                   <div class="separador"></div>
            </div>
            {%block content%}
            {%endblock%}
        </div>
        <div class="separador"></div>
    </div>
  </body>
</html>
